#map-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#settings-container {
  padding-left: 4em;
  padding-right: 4em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#canvas {
  background-color: gray;
  cursor: pointer;
}

#download-image-button {
  position: absolute;
  width: 10em;
  height: 2em;
  top: 0;
  right: 0;
}

#source-button {
  position: absolute;
  width: 10em;
  height: 2em;
  top: 3em;
  right: 0;
}

#new-map-button {
  width: 12em;
  height: 2em;
  font-size: 1.6rem;
  margin: 1em;
}

#processing_wrapper {
  position:fixed;
  top: 50%;
  left: 50%;
  z-index: 5;

  width: 10em;
  margin-left: -5em;

  height: 4em;
  margin-top: -2em;

  background-color: rgba(10, 10, 10, 0.5);
  border-radius: 2em;

  display: none;
  justify-content: center;
  align-items: center;
}

#processing_notifictaion {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
}
