@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';

html, body {
  height: 100%;
  min-width: 100%;
  margin: 0;
} 

body {
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;

  position: fixed;

  max-width: none !important;
  background-color: #f6f6f6;
  line-height: 1 !important;

  display: flex; 
  flex-direction: column;
}

/* This and containing text are larger on mobile */
#toolbar {
  position: relative;
  padding: 0.5em;

  background-color: #263238;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  z-index: 5;

  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items:center;
}

#toolbar h1 {
  color: #F5F5F5;
  font-size: 1.2em;
  padding: 0.5em;
  margin: 0;
  flex: 1;
  float: none;
  text-align: left;
}

#wrapper {
  position: relative;
  flex-direction: row;
  display: flex;
  justify-content:flex-end;
  width: 100%;
  height: 100%;

  flex-grow: 1;
}

@media (max-width: 980px) {
  #wrapper {display: block; }

  #new-map-wrapper {
    position: fixed !important;

    width: 8em !important;
    height: 8em !important;

    border-radius: 4.4em !important;

    bottom: 1.5em !important;
    right: 1.5em !important;
  }

  #toolbar h1 {
    font-size: 3rem !important;
  }

  #settings-container {
    background-color: #f6f6f6 !important;
    padding: 0 20%;
  }

  #settings-container p {
    color: #263238 !important;
    font-size: 2rem !important;
  }

  #settings-container h3 {
    font-size: 3rem !important;
    color: #263238 !important;
    background-color: #f6f6f6 !important;
    box-shadow: none !important;
  }
}

#map-container {
  position: relative;
  flex: 1;
  flex-grow: 6;

  display:flex;
  justify-content:center;
  align-items:center;
}

/* Settings are styled beneath map - might have to change wrapper flex. Styled differently */
#settings-container {
  position: relative;
  flex: 2;
  background: #546E7A;
}

#settings-container p {
  color: #F5F5F5;
  font-size: 1rem;
}

#settings-container h3 {
  color: #F5F5F5;
  margin: 0;
  padding: 0.8em 0;

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  z-index: 4;

  text-align: center;
  background-color: #37474F;
}

#settings-main {
  display: flex;
  flex-direction: column;
}

.settings-row {
  padding: 0 1em;
  display: flex;
  flex-direction: row;
}

.settings-row input {
  margin: 1.2em;
}

.settings-row .item {
  padding: 0 auto;
}

#image {
  width: 50%;

  background-color: gray;
  cursor: pointer;
  image-rendering: pixelated;
  margin: auto;
}

.options-btn {
  cursor: pointer;
  margin: 0;
  margin-left: 0.5em;
  width: 2em;
  height: 2em;
  outline: none;
 }

#new-map-button {
  width: 100%;
  height: 100%;
}

.loading {
  animation-name: rotate; 
  animation-duration: 0.5s; 
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

#new-map-wrapper {
  width: 2.4em;
  height: 2.4em;
  
  border-radius: 1.6em;
  padding: 0.4em;
  background: #f44336;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  
  z-index: 5;
  position: absolute;
  right: -1.6em;
  bottom: 1em;
}